/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css reset */


*, *::before, *::after {
  box-sizing: border-box;
}


:root{
  --primary-color: #0027D5;
  --secondary-color: #6C757D;
  --text-color: #4B4B4B;
  --background-color: #fbfbfb;
}

body{
  font-family: 'noto sans tc', serif;
  line-height: 1.5;
  background-color: var(--background-color);
  max-width: 100%;
}

/* navbar section */
.navbar{
  padding: 24px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: var(--background-color);
  z-index: 1000;
}
.navbar ul{
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.navbar a{
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 28px;
}



/* blog info section */
.blog-info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border: 1px solid var(--secondary-color);
}
.blog-info div{
  width: 50%;
}
.blog-info-img img{
  max-width: 100%;
  display: block;
  object-fit: cover;
}
.blog-info-card{
  width: 70%;
  display: flex;
  flex-direction: column;
}
.blog-info-card time{
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 4px;
}
.blog-info-card .tag{
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 8px;
  background-repeat: 8px;
  align-items: center;
}
.tag a{
  color: var(--primary-color);
  text-decoration: none;
  padding-right: 8px;
}
.blog-card a:hover{
  color: var(--text-color);
}
.tag .highlight-tag{
  text-decoration: none;
  background: var(--primary-color);
  color: #fff;
  border-radius: 40px;
  padding: 6px 12px;
  font-weight: 700;
  font-size: 16px;
}
.tag .highlight-tag:hover{
  background: lightblue;
  color: var(--primary-color);
  transition: 0.3s ease;
}
.blog-info-card h3{
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 8px;
}

@media (max-width:768px) {
  .blog-info{
        flex-direction: column;
    }
    .blog-info div{
        width: 100%;
    }
    .blog-info-card{
        width: 100%;
        padding: 48px 12px;
    }  
}



/* blog section */
.blog{
  border: 1px solid var(--secondary-color);
}
.blog-content{
  max-width: 636px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.paragraph{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.paragraph h5{
  font-weight: 700;
  font-size: 28px;
  color: var(--primary-color);
}
.paragraph p{
  font-weight: 500;
  font-size: 16px;
  text-align: justify;
}
.part{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.part h6{
  font-weight: 700;
  font-size: 20px;
}
.none{
  text-decoration: none;
}
.none:hover{
  color: lightblue;
}
.paragraph ul{
  list-style-type: disc;
  padding-left: 1.5em;   /* 或 2em，讓符號顯示在左側 */
  font-weight: 500;
  font-size: 16px;
}
.paragraph ol {
  list-style-type: decimal;
  padding-left: 1.5em;   /* 或 2em，讓符號顯示在左側 */
  font-weight: 500;
  font-size: 16px;
}
.tip p{
  padding: 24px;
  background: #EDEDED;
  border-radius: 24px;
}
.pagination{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn{
  display: inline-block;
}
.btn a{
  display: block;
  border: 1px solid #000;
  border-radius: 40px;
  padding: 8px 16px;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
}
.btn a:hover{
  background: var(--text-color);
  color: #fff;
  transform: 0.3s ease;
}


@media (max-width: 768px) {
  .blog{
        margin: 0 auto;
    }
    .search-bar{
        width: 100%;
    }
    .blog-content{
        flex-direction: column;
        margin: 40px 12px;
        gap: 32px;
    }
    .blog-card{
        width: 100%;
    }  
}


/* footer section */
.info{
  margin: 80px 16%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.info p{
  font-weight: 500;
  font-size: 32px;
}
.info a{
  text-decoration: none;
  color: #000;
}
.info ul{
  display: flex;
  gap: 4px;
}
.copyright{
  background: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
}
.copyright p{
  font-weight: 500;
  font-size: 16px;
  color: #000;
  text-align: center;
}

@media (max-width: 768px) {
  .info{
        display: none;
    }
}
